.landing {
  position: relative;

  .image-container {
    position: relative;
  }

  .image {
    background-image: url('/img/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;

    @media #{$lg-breakpoint} {
      height: 640px;
    }
  }

  &.open {
    animation-name: openLanding;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  &.close {
    animation-name: closeLanding;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
