/// Main page content styles
.landing {
  position: relative;

  .image-container {
    position: relative;
  }

  /// Image background styles
  .image {
    background-image: url('/img/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;

    /// Image background styles in destop
    @media #{$lg-breakpoint} {
      height: 640px;
    }
  }

  /// Addanimation when open in mobile
  &.open {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: openLanding;
  }

  /// Addanimation when close in mobile
  &.close {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: closeLanding;
  }
}
