/// Navigation styles
/// @group components
.nav {
  background-color: $magenta;
  height: 100%;
  position: absolute;
  z-index: 2;

  @media #{$lg-breakpoint} {
    height: auto;
    position: relative;
  }

  .menu {
    background-color: $white;
    height: 100%;
    left: -280px;
    position: absolute;
    width: 280px;

    @media #{$lg-breakpoint} {
      height: auto;
      position: static;
      width: auto;
    }

    &.open {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: openNav;
    }

    &.close {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: closeNav;
    }
  }

  .controls {
    background-color: $magenta;
    position: absolute;

    @media #{$lg-breakpoint} {
      display: none;
    }

    .open-close {
      background-color: transparent;
      border: 0;
      height: 60px;
      outline: none;
      padding: 0;
      position: relative;

      &.open {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: openButton;
      }

      &.close {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: closeButton;
      }

      .close {
        display: none;

        &.active {
          display: block;
        }
      }

      .open {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .svg {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .nav-items {
    background-color: $white;

    @media #{$lg-breakpoint} {
      background-color: transparent;
      display: inline-block;
      left: 130px;
      position: absolute;
      top: 0;
      width: 844px;
    }
  }

  .logo-container {
    background-color: $magenta;
    padding: 20px 0;

    @media #{$lg-breakpoint} {
      padding: 0;
    }
  }

  .logo {
    background-image: url('/img/HUGE-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    margin-left: 24px;
    width: 50px;

    @media #{$lg-breakpoint} {
      height: 24px;
      margin-bottom: 21px;
      margin-right: 45px;
      margin-top: 24px;
      width: 60px;
    }
  }

  /// All anchors styles
  .link {
    text-decoration: none;
  }

  /// Primary links
  .primary {
    color: $black;
    display: block;
    font: 21px/48px HUGEAvantGardeBold;
    padding: 0 24px;
    position: relative;

    &::after {
      content: url('/img/chevron.png');
      display: inline-block;
      height: 48px;
      position: absolute;
      right: 24px;
      width: 20px;

      @media #{$lg-breakpoint} {
        content: '';
      }
    }

    &:only-child {
      &::after {
        content: '';
      }
    }

    @media #{$lg-breakpoint} {
      color: $white;
      display: inline;
      padding: 24px;
    }

    &.up {
      &::after {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: rotateUp;
      }
    }

    &.down {
      &::after {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: rotateDown;
      }
    }
  }

  /// secondary links
  .secondary {
    color: $black;
    display: block;
    font: 16px/48px Galaxie;
    padding: 0 24px;
  }

  .primary-list-item {
    @media #{$lg-breakpoint} {
      display: inline-block;
      padding: 12px 0;
    }

    &:hover,
    &.active {
      background-color: $white;

      .primary {
        @media #{$lg-breakpoint} {
          color: $magenta;
        }
      }
    }

    &.active {
      .secondary-list {
        background-color: $white;
        display: block;
      }
    }
  }

  /// Secondary list links
  .secondary-list {
    display: none;

    @media #{$lg-breakpoint} {
      position: absolute;
      top: 72px;
    }
  }

  .secondary-list-item {
    &:hover {
      background-color: $light-gray;

      .secondary {
        color: $magenta;
      }
    }
  }

  .copyright {
    bottom: 0;
    padding: 24px;
    position: absolute;
    width: 280px;

    @media #{$lg-breakpoint} {
      display: none;
    }
  }
}
