/// Overlay
.overlay {
  display: none;
  z-index: 1;

  /// Overlay shown
  &.active {
    background-color: $translucent-black;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
