@keyframes rotateUp {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes openNav {
  from {
    left: -280px;
  }

  to {
    left: 0;
  }
}

@keyframes closeNav {
  from {
    left: 0;
  }

  to {
    left: -280px;
  }
}

@keyframes openLanding {
  from {
    left: 280px;
  }

  to {
    left: 0;
  }
}

@keyframes closeLanding {
  from {
    left: 0;
  }

  to {
    left: 280px;
  }
}
